.footer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30px;
}
.github-link{
    align-self: center;
    padding-right: 20px;
}
.linkedin-link{
    padding-left: 20px;
}
.github-icon{
    width: 25px;
}
.linkedin-icon{
    width: 25px;
}

@media screen and (max-width: 480px){
    .footer{
        width: 480px;
        display: flex;
        justify-content: center;
    }
}