.footer{
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.github-link{
    padding-right: 10px;
    align-self: center;
}
.github-icon{
    width: 20px;
}

.linkedin-icon{
    width: 20px;
}

@media screen and (max-width: 480px){
    .footer{
        width: 480px;
        display: flex;
        justify-content: center;
    }
    
}